body {
  background: #2e2e2e; /* fallback for old browsers */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  margin: 30px 0;
}
.contenido {
  padding: 20px;
}
.contenido-principal {
  background-color: #232323;
  padding: 30px;
  border-radius: 20px;
  color: #c5c5c5;
  font-weight: bold;
}
.primario {
  background-color: #2a2a2a;
  padding: 30px;
  border-radius: 20px;
}
.presupuesto p {
  margin-bottom: 0;
  font-weight: bold;
}
.presupuesto p span {
  font-weight: normal;
}

.alert-presupuesto {
  background-color: #89c6e6;
}
.alert-restante {
  background-color: #f57473;
}
#gastos {
  margin-bottom: 30px;
}
h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;

  color: #c5c5c5;
  font-weight: bold;
}
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  color: #c5c5c5;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 30px;
}

.footer {
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #232323;
  margin-top: 5rem;
  
}

@media(min-width: 768px){ 
  .footer {
margin-top: 0;
  
}

}

.wrapper {
  flex: 1;
}
